<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>{{ object.name }}</title>
    </head>
    <body>
	<p>Manufacturer: {{ object.name }}</p>
	<p>Location: {{ object.location }}</p>
    </body>
</html>
