<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title> {{ object.name }}</title>
    </head>
    <body>
	<p>Product: {{ object.name }}</p>
	<p>Manufacturer: {{ object.manufacturer }}</p>
	<p>Description: {{ object.description }}</p>
	<p>price: {{ object.price }}</p>
	<p>Quantity: {{ object.quantity }}</p>
	<p>Shipping Cost: {{ object.shipping_cost }}</p>
	<img alt="" src="{{ object.photo.url }}"/>
    </body>
</html>
